html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #52a0e9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  width: 800px;
}

canvas {
  position: fixed;
  width: 800px;
  height: 540px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

img {
  display: none;
}

.menu {
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
}

.menu p {
  text-align: center;
  font-weight: bold;
  line-height: 1.34;
  font-size: 16px;
  color: white;
}

button {
  border: none;
  background-color: blueviolet;
  color: white;
  padding: 12px 23px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;

  cursor: pointer;
}

button:hover {
  background-color: rgb(153, 61, 240);
}
